.imageslider{
    display: none;
}

.imageslider-mobile {
    display: none;
}

@media( min-width: 360px ){
    .imageslider-mobile {
        display: block;
        height: 50vh;
        background-size: cover;
        background-Position: 50%;
    }
}


@media (min-width: 760px) {


.imageslider{
    display: block;
    height: 50vh;
    background-size: cover;
    background-Position: 50%;
}


.imageslider-mobile {
    display: none;
}
    


.searchBox {
    background-color: white;
    padding: 20px;
    z-index: 2;
    position: relative;
    top: -190px;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
}
}