.App {
  text-align: center;
  min-height: 90vh;
}

.logo-img {
  height: 90px !important;
  width: 200.5px !important;
  /* margin-top: 7px !important; */
}
.desktopNav {
  display: none;
}
.nav-link-container {
  width: 40%;
  display: flex;
  /* justify-content: space-between; */
}

.navlink-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  /* background-color: red; */
  flex-grow: 1;
  color: white;
  text-decoration: none;
  border-left: 1px solid #222;
}
.navlink-wrapper:hover {
  background-color: white;
  color: #1976D2;
  
}
.navlink-active {
  background-color: white;
  color: #1976D2;
  
}
.mobileNav{
  height: 10vh;
}
@media (min-width: 375px) {
 

.App {
  text-align: center;
  min-height: 90vh;
}
.logo-img {
  height: 90px !important;
  width: 200.5px !important;
  z-index: 2;
  position: relative;
  top: -15px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
}
@media (min-width: 760px) {

  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #1976D2;
    padding: 0;
    margin: 0;
    justify-content: space-between;
   
  }
  .desktopimg{ 
  /* border: 2px solid #666A73; */
  box-sizing: border-box;
  height: 100%;
  width: 175.5px !important;
  z-index: 2;
  position: relative;
  border-bottom: 1px solid #1976D2;
  /* top: -8px;
  left: -10px; */
  }


  .navbutton {
    width: 200px;
  }

  
  .App {
    text-align: center;
    min-height: 90vh;
  }
 



}



