.App {
  text-align: center;
  min-height: 90vh;
}

.logo-img {
  height: 90px !important;
  width: 200.5px !important;
  /* margin-top: 7px !important; */
}
.desktopNav {
  display: none;
}

.mobileNav{
  height: 10vh;
}
@media (min-width: 375px) {
 

.App {
  text-align: center;
  min-height: 90vh;
}
.logo-img {
  height: 90px !important;
  width: 200.5px !important;
  z-index: 2;
  position: relative;
  top: -15px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
}
@media (min-width: 760px) {

  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    background-color: #1976D2;
    padding: 0;
    margin: 0;
   
  }
  .desktopimg{ 
  border: 2px solid #666A73;
  height: 100% !important;
  width: 200.5px !important;
  z-index: 2;
  position: relative;
  top: -6px;
  left: -10px}


  .navbutton {
    width: 200px;
  }

  
  .App {
    text-align: center;
    min-height: 90vh;
  }
 



}



