.logo-img {
  height: 90px !important;
  width: 200.5px !important;
  /* margin-top: 7px !important; */
}
.desktopNav {
  display: none;
}

.mobileNav{
  height: 10vh;
}
@media (min-width: 375px) {
 

.App {
  text-align: center;
  min-height: 80vh;
}
.logo-img {
  height: 90px !important;
  width: 200.5px !important;
  z-index: 2;
  position: relative;
  top: -15px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
}
@media (min-width: 760px) {

  .mobileNav {
    display: none;
  }
  .App {
    text-align: center;
    min-height: 80vh;
  }
  .desktopNav {
    width: 100%;
    height: 15vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }



}



